@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2dd4bf;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.teal-underline {
  @apply relative inline-block;
}

.teal-underline::after {
  content: '';
  @apply absolute bottom-[-8px] left-0 w-12 h-1.5 bg-teal-400 rounded-full;
}
